body {
    background: linear-gradient(skyblue, red);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Press Start 2P", system-ui;
    margin: 0;
}
header{
    width: 100%;
    height: 50px;
    border: 1px solid white;
    position: relative;
}

nav{
    display: flex;
    justify-content:space-around;
    align-items: center;

}
ul{
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style: none;
  
    
}
ul li a{
    text-decoration: none;
}
.logo{
    left: 100px;
    position: relative;
}


.container{
    border: 1px solid black;
    background-color: aliceblue;
    height: 350px;
    width: 900px;
    margin-top: 100px;
    position: relative;
    display: flex;
    left: 290px;
}
img{
    height: 50px;
    width: 50px;
}
.cover{
    height: 250px;
    width: 200px;
    position: absolute;
    left: 100px;
    top: 40px;
}

.item {
    position: relative;
    display: flex;
}
.card{
    display: grid;
    position: relative;
    left: 500px;
}
p{
    white-space: nowrap;         /* Prevents the text from wrapping */
    overflow: hidden;            /* Ensures that the overflowed content is hidden */
    text-overflow: ellipsis;     /* Adds an ellipsis (...) to indicate that the text is truncated */
    width: 400px;
}

.container:nth-child(even):hover{
    background-color: red;
    text-shadow: 5px 5px 5px grey;
    transition: .9s;
    transform: translate(50px, 50px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container:nth-child(odd):hover{
    background-color: blue;
    transition: .9s;
    transform: rotateX(180deg);
}

.logos{
    position: fixed;
    left:1400px;
    top: 100px;
    bottom: 200px;
}

.logos{
    height: 500px;
    width: 500px;
    background-image: url(./img/human2.jpg);
    transform: skewX(35deg);
    animation: looping;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}   
.logos:hover{
    background-image: url(./img/human1.jpg);
    height: 500px;
    width: 500px;
    transform: skewY(35deg);
    transition: .5s;
    border-radius: 50%;
    
}

@keyframes looping {
    from{ margin-bottom: 100%;}
    to {margin-top: 100%;}
}


