body {
    background: linear-gradient(skyblue, red);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Press Start 2P", system-ui;
    margin: 0;
}

.box{
    
}

